LOGIN=rapha4lx
DOMAIN_NAME=rapha4lx.42.fr
DATA_PATH=/home/rapha4lx/data

DB_NAME=wordpress
DB_USER=wp_user
DB_PASSWORD=change_this_database_password
DB_ROOT_PASSWORD=change_this_root_password

WP_TITLE=Inception
WP_ADMIN_USER=siteowner
WP_ADMIN_PASSWORD=change_this_wordpress_owner_password
WP_ADMIN_EMAIL=siteowner@example.com
WP_USER=editor
WP_USER_PASSWORD=change_this_wordpress_user_password
WP_USER_EMAIL=editor@example.com
